Routing option to encode requests using absolute URI form

Incoming http (1.1) requests are decoded into a Begin frame that always has the :authority pseudo-header set, even if the request target was in origin form (as defined by [HTTP 1.1 RFC 7230 section 5.3](https://tools.ietf.org/html/rfc7230#section-5.3)). This is at variance with [HTTP 2 RFC 7540 section 8.1.2.3](https://tools.ietf.org/html/rfc7540#section-8.1.2.3) but is done in order to facilitate routing: routing can be done in a uniform way by : authority without having to worry about the Host header. A side effect of this is that there is no way in http Begin extensions to determine whether a request will be encoded in origin or absolute form.

HTTP nukleus defaults to encoding outgoing (output new) requests in origin form. 

This ER would add support for a new HTTP specific routing option to cause all outgoing requests to be encoded in absolute form.